# files created by XCode 3
*.pbxuser
*.mode1
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcclassmodel/

# files created by Xcode 4
xcuserdata/

# build products
*.build/
build/
DerivedData/

# Misc
.DS_Store

#custom & CocoaPods
Podfile.lock
Pods/
